@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qqf35q');
	src:url('fonts/icomoon.eot?#iefixqqf35q') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qqf35q') format('truetype'),
		url('fonts/icomoon.woff?qqf35q') format('woff'),
		url('fonts/icomoon.svg?qqf35q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e600";
}
.icon-calendar:before {
	content: "\e601";
}
.icon-delete:before {
	content: "\e602";
}
.icon-document:before {
	content: "\e603";
}
.icon-download:before {
	content: "\e604";
}
.icon-expenses:before {
	content: "\e605";
}
.icon-help:before {
	content: "\e606";
}
.icon-home:before {
	content: "\e607";
}
.icon-logout:before {
	content: "\e608";
}
.icon-message:before {
	content: "\e609";
}
.icon-phone:before {
	content: "\e60a";
}
.icon-reports:before {
	content: "\e60b";
}
